.footer {
  @include section-bg('../img/bg/footer-bg.jpg');
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: rem(10px) 0;
  z-index: 11;
}

.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  @include phones {
    flex-direction: column;
  }
}

.footer__col {
  width: 50%;
  margin-bottom: rem(15px);
  @include phones {
    width: 100%;
    text-align: center;
  }
}

.footer__address {
  color: #ffffff;
  font-size: rem(14px);
}

.footer__phone {
  color: $red;
  @include ubuntu(bold);
  text-decoration: none;
  font-size: rem(14px);
}
.footer__phone-icon{
  width: rem(12px);
  height: rem(12px);
  fill: $red;
  margin-right: 10px;
}

.footer__col_right {
  text-align: right;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
  @include tablets{
    // margin-right: );
    padding-right: rem(20px);
    padding-left: rem(20px);
  }
  @include phones {
    justify-content: center;
  }
}