.hamburger-menu-link {
	vertical-align: middle;
	position: relative;
	height: rem(22px);
	align-items: center;
	margin-left: rem(30px);
  display: none;
  border-radius: 50%;	
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 5px  rgba(0, 0, 0, 0.1);
  transition:.3s;
  @include desktop-mini{
  	position: fixed;
  	right: rem(10px);
    display: flex;
    &:hover{
    	background: rgba($red, 0.7);
  	box-shadow: 0 0 0 5px  rgba($red, 0.7)
    }
  }
  &:hover *, &:hover *:before, &:hover *:after {
  	// @include light;
  	// background-color: $orange;
  }
  
}

.hamburger-menu-link__bars {

	&, &:before, &:after {

		background: #fff;
		width: rem(24px);
		height: rem(5px);
		border-radius: rem(3px);
	 &:hover *{
		
	}

	}

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
	}
top: 5px;
	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}
}