.hamburger-menu-link {
	vertical-align: middle;
	position: relative;
	height: rem(22px);
	align-items: center;
	margin-left: rem(30px);
  display: none;	
  @include desktop-mini{
  	position: fixed;
  	right: rem(10px);
    display: flex;
  }
  &:hover *, &:hover *:before, &:hover *:after {
  	@include light;
  	background-color: $orange;
  }
  
}

.hamburger-menu-link__bars {
	&, &:before, &:after {
		background: #fff;
		width: rem(24px);
		height: rem(5px);
		border-radius: rem(3px);
	 &:hover *{
		
	}

	}

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}
}