.menu-acco {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
  display: flex;
  max-width: 70%;
  @include tablets{
  	max-width: 100%;
  }
  @include phones{
  	width: 100vw;
  	justify-content: flex-end
  }
}

.menu-acco__item {
	height: 100%;
	
	&.active {
		display: flex;
		justify-content: flex-end;
		@include phones{
			display:block;
			width: 100vw;
			height: 100%;
			position:absolute;
			z-index: 1000;

		}
		.menu-acco__trigger {			
			flex:1 0 rem(80px);
			@include tablets{
				flex:1 0 rem(60px);
			}
			@include phones{
				display:block;
				width: rem(60px);
				margin-left: rem(15px);
				height: 100%;
				position:absolute;
				z-index: 1000;
				top: 0;
				left: 0;
				// padding-left: 10px;

			}
		}
		.menu-acco__trigger-text {
			color: $yellow;
		}
		.menu-acco__content{
			animation: extension .5s;
			@include phones{
				margin-left: rem(60px);

			}
			.menu-acco__text{
				display:flex;
			}
		}
	}
}
.menu-acco__trigger {
	width: rem(80px);
	display: block;
	height: 100%;
	float: left;
	@include cover;
	text-decoration: none;
  position: relative;
  @include tablets{
  	width: rem(60px);
  }

}

.menu-acco__trigger-text {
	font-size: rem(40px);
	color: #fff;
	@include gagalin;
	text-align: center;
	white-space: nowrap;
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  left: 50%;
  top: 100%;
  margin-top: rem(-20px);
  transition: .3s;
   &:hover{
  	color: $yellow;
  }
}

.menu-acco__content {	
	height: 100%;
	float: left;
	background: rgba(#2f3234, .93);
	animation: narrowing .9s;
	// display:none;
	overflow: hidden;
	transition: width 1s;
	

}

.menu-acco__text {
	@include ubuntu(light);
	font-size: rem(14px);
	color: #fff;
	padding: rem(60px) rem(30px);
	width: 100%;
  line-height: 1.8;
  display: none;
}