.menu {
	@include section-bg('../img/bg/menu-bg.jpg');
	position: relative;

	 @include tablets{
		height: auto;
		width: 100vw;
  }
  
}

.menu__title {
	position: absolute;
	top: 10%;
	left: 10%;
	@include tablets{
		left: 5%;
	}
}
