.menu-acco {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
  display: flex;
  height: 100%;

  @include tablets{
  	width: 100vw;
  	justify-content: flex-end;
  	padding-left: 0;
  }
  @include phones{
  }
}

.menu-acco__item {
	background: rgba(#2f3234, .93);
	height: 100%;	
	&:hover, &.active {
		.menu-acco__trigger-text {
			color: $yellow;
		}
	}
	&.active {
		@include tablets{
  	width: 100%;
  }
		@include phones{
  	position: absolute;
  	top: 0;
  	right: 0;
  	left: 0;
		z-index: 999;
		// padding-left: rem(15px);
  }

		.menu-acco__content{			
			opacity: 1;
			transition: opacity .5s;
		}
		.menu-acco__text{
			display:block;
			
		}
	}
}

.menu-acco__trigger {
	width: rem(80px);;
	@include tablets{
		width: rem(70px);
	}
	display: block;
	height: 100%;
	@include cover;
	text-decoration: none;
	position: relative;
	float: left;
	@include phones{

	}
}

.menu-acco__trigger-text {
	font-size: rem(40px);
	color: #fff;
	@include gagalin;
	text-align: center;
	white-space: nowrap;
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  left: 50%;
  top: 100%;
  margin-top: rem(-20px);
}

.menu-acco__content {
	height: 100%;
	width: 0;
	overflow: hidden;
	float: left;
	@include tablets{
		float:left;
	}
	opacity: 0;
}

.menu-acco__text {
	@include ubuntu(light);
	font-size: rem(14px);
	color: #fff;
	width: 100%;
  line-height: 1.8;
  display: none;
 // white-space: nowrap; /* Запрещаем перенос строк 
 //   overflow: hidden; /* Обрезаем все, что не помещается в область */
  //text-overflow:  ellipsis;  /* Добавляем многоточие */
	
	padding: rem(60px)  rem(30px) 0 ;
	@include tablets{
	padding: rem(40px)  rem(15px)  ;
	}
	
	 	

}

.menu-acco__close-link{
	display:block;
	position: absolute;
	top: rem(20px);
	right: rem(20px);
	width: rem(15px);
	height: rem(15px);
	margin: auto;
	z-index:1000;
	transition: 1s;
	& img{
		width: 12px;	
	}
}


