input:focus,
.order__radio-fake:focus, 
textarea:focus{
 box-shadow: inset 0 0 0 2px $yellow ;
  box-sizing:border-box;
}
.order__radio-fake:active{
  outline:none;
}
.order {
  @include section-bg('../img/bg/order-bg.jpg');
  display: flex;
  align-items: center;

  @include tablets{
    height: auto;
    & .container{
      height: auto;
    }
  }
}
.order .section__title {
    margin-bottom: rem(70px);
    text-align: center;   
    @include tablets{      
      font-size: rem(60px);
      margin-bottom: rem(60px);
    }
    @include phones{ 
      margin-bottom: rem(50px);     
      font-size: rem(50px);
    }     
}

.order__form {
  // margin-left: -5%;
  display: flex;
  // flex:1;
  @include tablets {
    // width: 80%;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
}

.order__form-col {
  width: 50%;
  // margin-left: 1%;
    @include tablets {
    width: 70%;
    margin-left: 0;
  }
  @include phones {
    width: 95%;
    margin-left: 0;
  }
}
.order__form-row {
  display: flex;
  // margin-left: rem(-10px);
  margin-bottom: rem(15px);
  display: flex;
}
.order__form-block {
  display: block;
  width: 100%;
  flex: 1;
  margin-left: rem(20px);
}
.order__form-label {
  padding-bottom: rem(5px);
  @include ubuntu();
  color: #fff;
  font-size: rem(14px);
}

.order__form-input {
  font-size: rem(14px);
  padding: rem(10px) rem(10px);
  border: rem(1px) solid #d1cfcb;
  border-radius: rem(5px);
  width: 100%;
}

.order__form-input_textarea {
  height: rem(110px);
  resize: none;
  padding: rem(5px) rem(5px) rem(5px) rem(5px);
}

.order__form-buttons {
  padding-left: rem(10px);
}

.order__radio {
  position: relative;
  white-space: nowrap;
  margin-left: rem(10px);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.order__radio-elem {
  position: absolute;
  top: 0;
  left: rem(-9999px);
}
.order__radio-title {
  font-size: rem(14px);
  color: #fff;
  margin-left: rem(10px);
}
.order__radio-fake {
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  background: #fff;
  position: relative;
  &:after {
    content: "";
    @include absolute-center();    
    width: rem(0px);
    height: rem(0px);
    border-radius: 50%;
    background: $red;    
    transition: width .3s, height .3s;
  }
}

.order__radio-elem:checked {
  &+.order__radio-fake {
    &:after {
      width: rem(8px);
      height: rem(8px);
    }
  }
}

.order__radio_checkbox {
  .order__radio-fake {
    border-radius: rem(0px);
  }
  .order__radio-elem {
    &+.order__radio-fake {
      &:after {
        background: transparent;
      }
    }
  }
  .order__radio-elem:checked {
    &+.order__radio-fake {
      &:after {
        background: url("../../img/icons/check.svg") 50% no-repeat ;
        background-size: contain;
        width: rem(15px);
        height: rem(15px);
      }
    }
  }
}

.order__form-button {
  margin-left: rem(10px);
  border: 0;
  background: $red;
  font-size: rem(13px);
  text-transform: uppercase;
  border-radius: rem(5px);
  color: #ffffff;
  @include ubuntu(middle);
  padding: rem(10px) rem(15px);
  cursor: pointer;
  transition: .3s;
  &:hover{
   background: darken($red,10%);
  }
}

.order__form-button_reset {
  padding: rem(10px);
  // padding-right: ;
  text-transform: none;
  background: transparent;
   transition: .3s;
 
}