.team-acco {
	height: 64%;
	display:flex;
	flex-direction:column;
	justify-content: flex-start;
	align-items:flex-start;
	@include tablets{
		align-items:center;
		height: 75%;
	}
}

.team-acco__item {
  margin-bottom: rem(40px);
  // display:block;
	
   
	&:last-child {
		margin-bottom: 0;
	}
	
	
	&.active {

		& .team-acco__content{

		position: initial;
		top: auto;
		opacity:1;
		height:  auto;
			transition:1s;
		display:flex;
		text-align: left;
		@include tablets{
			@include flex-center(column);
			padding-top: rem(2px);
			text-align: center;
		}
	}
		.team-acco__trigger {
			transition:0.3s;
			color: $yellow;
			&:before {
				transform: rotate(-180deg);
			}
		}
	}
}
.team-acco__trigger:hover{
	color: $yellow;
} 
.team-acco__trigger {
	color: #fff;
	font-size: rem(14px);
	@include gagalin;
	text-decoration: none;
	position: relative;
  display: inline-flex;
  margin-bottom: rem(20px);
  align-items: center;  
 
  @include tablets() {
    font-size: rem(25px);
  }
@include phones() {
    font-size: rem(20px);
  }

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
		left: rem(-18px);
		top: rem(8px);
		width: 0;
    height: 0;
	}

	&:before {
		border-top: rem(7px) solid $yellow;
		border-left: rem(5px) solid transparent;
		border-right: rem(5px) solid transparent;
		border-bottom: rem(0px) solid transparent;
		transform: rotate(0deg);
		transition: .3s;
	}

	&:after {
		display: none;
		border-bottom: rem(7px) solid $yellow;
		border-left: rem(5px) solid transparent;
		border-right: rem(5px) solid transparent;
		border-top: rem(0px) solid transparent;
	}
}

.team-acco__content {
	padding-top: rem(14px);
	// display: none;
	position:absolute;
	left: -9999px;
	opacity:0.2;
	transition: 0.2s  ;
	
}

.team-acco__pic {
	text-align: center;
	width: 30%;
	@include tablets{
  		@include flex-center(column);
			padding-bottom: rem(10px);
			
  	}
}

.team-acco__img {
	width: rem(100px);
	height: rem(100px);
	@include cover;
	border-radius: 50%;
}

.team-acco__text {
	width: 70%;
}

.team-acco__pic, .team-acco__text {
}

.team-acco__title {
	@include ubuntu(bold);
	font-size: rem(14px);
	color: #fff;
	margin-bottom: rem(14px);
}

.team-acco__text-content {
	@include ubuntu(light);
	color: #fff;
	font-size: rem(14px);
}