@font-face {
  font-family: 'Gagalin-Regular';
  src: url("../fonts/gagalin-regular.woff") format("woff"), url("../fonts/gagalin-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack-Medium';
  src: url("../fonts/lifehack-medium.woff") format("woff"), url("../fonts/lifehack-medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-light.woff") format("woff"), url("../fonts/ubuntu-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-medium.woff") format("woff"), url("../fonts/ubuntu-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff") format("woff"), url("../fonts/ubuntu-b-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }
