// tag styles reset
html,
body {
  height: 100%;
  width: 100%;  
}
body, body *{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	/*display: block;*/
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    display: inline-block;
  }
}
a{
	text-decoration:none;
	&:visited{
	// color: inherit;
	}
}
p {
  padding: 0;
  margin: 0;
}
input, input:focus, textarea{
	outline: none;
}

footer {
  position: relative;
  width: 100%;
}
svg{
  display:inline-block;
}
